POSTGRES_DB=ghos
POSTGRES_USER=ghosadmin
POSTGRES_PASSWORD=REPLACE_WITH_A_STRONG_PASSWORD
GHOS_BOOTSTRAP_TOKEN=REPLACE_WITH_A_ONE_TIME_RANDOM_SETUP_CODE
SHOPIFY_STORE_DOMAIN=darfaz-2e.myshopify.com
SHOPIFY_API_VERSION=2026-07
SHOPIFY_CLIENT_ID=
SHOPIFY_CLIENT_SECRET=
